@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: radial-gradient(circle at center, #ffff, #f1eafc);
  --foreground: #171717;
}

@media (dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
